/* @import url('https://fonts.cdnfonts.com/css/russo-one'); */
@import url('https://fonts.cdnfonts.com/css/anek-latin');

.grid {
    position: relative;
    width: 70%;
    height: 70vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 5px;
    margin: 20px auto;
}

.grid-cell {
    border: 1.5px solid var(--border-colour);
    background-color: var(--background-colour-lgt);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 
        0 27px 15px -30px rgba(0, 0, 0, .1), 
        0px 11px 9px -10px rgba(0, 0, 0, 0.1);
}

.current-direction h3 {
    font-family: 'Anek Latin', sans-serif;
    font-weight: 100;
}

.current-direction_sp {
    color: var(--btn-primary);
}